// ! VARIABLES
$accent: #f0650d;
$dark: #293a43;
$light: #ededed;
$gray: #4b5a65;
$gutter: 20px;

// ! ROOT SETTINGS
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Operator Mono Lig, sans-serif;
	font-size: 10px !important;
	line-height: 1.75;
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
textarea {
	border: none;
	padding: 1.5rem 2rem;
	width: 100%;
	font-family: Arial, sans-serif;
	font-style: italic;
	outline: none;
	transition: background-color 0.5s;
	&:focus {
		background-color: $light;
	}
	&::placeholder {
		color: lighten($dark, 20%);
	}
}

.grid {
	display: grid;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $gutter;
	outline: 1px solid red;
}

.stage {
	padding: 7rem 0;

	h2 {
		font-size: 34px;
		font-weight: 800;
		color: $dark;
		line-height: 1.2;
	}
}

.aligner {
	text-align: center;
}

.link {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: $accent;
	padding: 12px 50px;
	font-size: 1.5rem;
	font-weight: 800;
	border-radius: 3px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color 0.1s ease;
	cursor: pointer;
}

.link_gray {
	background-color: $gray;
	&::after {
		background-color: darken($gray, 15%);
	}
	&:active {
		background-color: darken($gray, 5%);
	}
}

.link::after {
	transition: background-color 0.2s ease;
	position: absolute;
	content: '';
	height: 4px;
	bottom: 0;
	width: 100%;
	background-color: black;
	opacity: 0.18;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	left: 0;
}

.link:focus,
.link:hover {
	text-decoration: none;
	color: #fff;
}

.link:hover {
	background-color: #ffae1a;
}

.link:hover::after {
	opacity: 0.22;
}

.link:active {
	background-color: #e69500;
}

.link:active::after {
	opacity: 0.32;
}

// ! HEADER SECTION
.header {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
	align-content: center;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $dark;
		opacity: 0.92;
	}

	.header__content {
		z-index: 1;
		color: #fff;
		text-align: center;
		padding: 60px $gutter;

		h1 {
			font-size: 6rem;
			font-weight: normal;
			margin: 2rem 0;
			line-height: 1.5;
		}

		.link {
			margin: 1rem;
		}
	}
}

// ! PORTFOLIO SECTION
.portfolio {
	padding: 1rem;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;

	.portfolio__item {
		position: relative;
		min-height: 32vh;
		background-size: cover;
		background-position: center;
		text-align: center;
		align-items: center;
		padding: $gutter;
		font-size: 2rem;
		color: #fff;
		transition: all 0.5s;
		cursor: pointer;
		&:hover {
			color: $accent;
			transform: scale(0.99);
			&::before {
				opacity: 0.85;
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $dark;
			opacity: 0.62;
			transition: opacity 0.5s;
		}
		> * {
			z-index: 1;
		}
		&:nth-child(1) {
			grid-column: 1 / 3;
		}
		&:nth-child(5) {
			grid-column: 2 / 4;
		}
		&:nth-child(6) {
			grid-column: 4;
			grid-row: 2 / 4;
		}
	}

	.linkcase {
		grid-column: 1 / 5;
		padding: $gutter;
	}
}

// ! READY SECTION
.ready {
	background-color: $light;

	.container {
		grid-template-columns: 1fr 1fr;

		.ready__left {
			border-right: 1px solid #dadada;
			padding: 6rem 6rem 6rem;

			h2 {
				margin-top: 0;
				margin-bottom: 2rem;
			}

			h2 + p {
				margin-bottom: 1rem;
			}

			p {
				font-size: 1rem;
			}
		}

		.ready__right {
			padding-top: 4rem;
			padding-left: 4rem;
		}
	}
}

// ! FORM SECTION
.formsection {
	padding: 3rem 0;
	background-color: $dark;

	.form {
		gap: $gutter;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;

		input {
			background-color: lighten($dark, 6%);
		}

		.form__link {
			font-size: 1.5rem;
			// padding: 1rem;
			width: 100%;
		}
	}
}
